@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}
bod {
  background: #fff;
}

.logo {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  img {
    margin-right: 8px;
    background: transparent;
  }
  p {
    font-size: 1.875em;
    color: #fff;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

button.mobile-menu-btn {
  transition: 0.5s ease all;
  svg {
    fill: #fff;
  }
  &:focus {
    transform: scale(1.1);
  }
}

button.default-btn {
  font-size: 1em; // * 1.375 em olacak
  padding: 9px 19px;
  background: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
  text-transform: capitalize;
  cursor: 'pointer';
  color: #fff;
  @include screen('desktop') {
    font-size: 1.375em;
    padding: 12px 26px;
  }
}

a.post-link {
  flex-basis: 298px;
  width: 298px;
  transition: 1s all ease;
  &:hover,
  &:focus {
    transform: translateY(-20px) scale(1.1);
  }
}

.menu-show {
  animation-name: show-animate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes show-animate {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
