.partners-measure {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

section.partners {
  padding: 20px 0px;
  background: var(--default-background-color-2);
  ul.partner-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    @include screen('tablet') {
      flex-direction: row;
      flex-flow: wrap;
      li {
        margin-bottom: 0px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    @include screen('desktop') {
      justify-content: space-between;
    }
  }
}
